body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-success.dropdown-toggle {
  --bs-btn-border-color: #93E499;
  --bs-btn-bg: #93E499;
}
.dropdown-item.bg-success {
  --bs-success-rgb: 147,228,153;
}
.dropdown-item.bg-success:hover {
  --bs-success-rgb: 255,255,255;
}
